.jumbotron {
    background-image: url("../images/jumbo7.jpg");
    color: white;

}

.navbar-btn {
  margin-top: 16px;
  margin-bottom: 8px;
  border:1px solid transparent;
}

.panel-default {
  margin-top: 16px;
  border:1px solid transparent;
 /* border-color: #dddddd;*/
}

.navbar-default {
  background-color: white;
  border-color: #e7e7e7;
}

.jumbotron .container {
    max-width: 75%;
}

.navbar-default .navbar-nav > li > a {
    font-size: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: green;
}

h1,
.h1 {
  font-size: 28px;
}


.navbar-default .navbar-brand
{
  background: url("../images/400dpiLogo.jpg") no-repeat left center;
  background-size: 200px;
  height: 72px;
  width: 250px;
  padding-right: 10px;

}

@media screen and (min-width: 768px) {
  .thumbnail-front-box {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    height:450px;
  }
}

.btn-default-front-box {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  position:absolute;
  bottom:30px;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: rgba(23, 71, 16, 0.5);
  border-color: #285e8e;


/*.jumbotron p {
    color: black;
    background: rgba(255, 255, 255, 0.6);
    padding-left: 2px;
}
*/
h2,
.h2 {
  font-size: 17px;
}
